{% extends "base.html" %}
{% block content %}
<form method="post">
    <input class="form-control mb-2" name="codice" placeholder="Codice" required>
    <input class="form-control mb-2" name="nome" placeholder="Nome" required>
    <input class="form-control mb-2" name="formato" placeholder="Formato">
    <input class="form-control mb-2" name="colore" placeholder="Colore">
    <input class="form-control mb-2" name="quantita" type="number" placeholder="Quantità" required>
    <button class="btn btn-success">Salva</button>
</form>
{% endblock %}

