{% extends "base.html" %}
{% block content %}
<a href="/add" class="btn btn-primary mb-3">➕ Aggiungi</a>

<table class="table table-bordered">
    <tr>
        <th>Codice</th>
        <th>Nome</th>
        <th>Formato</th>
        <th>Colore</th>
        <th>Qtà</th>
        <th></th>
    </tr>
    {% for r in data %}
    <tr>
        <td>{{ r[1] }}</td>
        <td>{{ r[2] }}</td>
        <td>{{ r[3] }}</td>
        <td>{{ r[4] }}</td>
        <td>{{ r[5] }}</td>
        <td><a href="/delete/{{ r[0] }}" class="btn btn-danger btn-sm">❌</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
