{% extends "base.html" %}
{% block content %}

<h3>📦 Magazzino</h3>

<form method="post" action="/articolo/add" class="row g-2 mb-4">
    <div class="col"><input class="form-control" name="codice" placeholder="Codice" required></div>
    <div class="col"><input class="form-control" name="nome" placeholder="Nome" required></div>
    <div class="col"><input class="form-control" name="formato" placeholder="Formato"></div>
    <div class="col"><input class="form-control" name="colore" placeholder="Colore"></div>
    <div class="col"><button class="btn btn-success">➕ Aggiungi</button></div>
</form>

<table class="table table-striped">
    <tr>
        <th>Codice</th>
        <th>Nome</th>
        <th>Formato</th>
        <th>Colore</th>
        <th>Quantità</th>
        <th></th>
    </tr>

    {% for a in articoli %}
    <tr>
        <td>{{ a["codice"] }}</td>
        <td>{{ a["nome"] }}</td>
        <td>{{ a["formato"] }}</td>
        <td>{{ a["colore"] }}</td>
        <td>{{ a["quantita"] }}</td>
        <td>
            <a class="btn btn-sm btn-primary" href="/movimento/{{ a['id'] }}">
                🔁 Movimento
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
